<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head></head>
<body>

<div th:fragment="section_header">

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/person}">Margo</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Log out | <span sec:authentication="name"></span></a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Log in</a>
                </div>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>